@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-cyan);
}

nav {
  margin: 80px 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 200px;
}

.btn.btn-secondary {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0px;
  text-align: left;
  color: var(--pink);
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid var(--pink);
}

header {
  margin-top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 25px;
  margin-left: 80px;
  margin-right: 80px;
}

header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  max-width: 600px;
  margin-bottom: 50px;
}

.btn.btn-primary {
  padding: 25px 100px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  background-color: var(--pink);
  border-radius: 40px;
  text-decoration: none;
  text-decoration: none;
}

.stats {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stats .img-container {
  margin-left: 40px;
  margin-right: 40px;
}

.stats .img-container img {
  width: 100%;
}

.stats .stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
  margin-top: 120px;
}

.stats-container h3 {
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--dark-cyan);
}

.stats-container p {
  color: hsla(208, 12%, 55%, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}

.img-text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
  gap: 100px;
  margin-top: 250px;
}

.img-text .text {
  flex-basis: 50%;
}

.img-text .img {
  flex-basis: 50%;
}

.img-text .img img {
  width: 100%;
}

.pre-footer {
  margin-top: 300px;
  margin-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pre-footer h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 42px;
}

footer {
  margin-top: -600px;
  background-color: var(--dark-cyan);
  padding: 600px 120px 100px;
  display: flex;
  justify-content: space-between;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 56.5%,
    1% 56.47%,
    2% 56.37%,
    3% 56.21%,
    4% 55.99%,
    5% 55.7%,
    6% 55.36%,
    7% 54.97%,
    8% 54.53%,
    9% 54.04%,
    10% 53.51%,
    11% 52.95%,
    12% 52.36%,
    13% 51.74%,
    14% 51.1%,
    15% 50.46%,
    16% 49.81%,
    17% 49.16%,
    18% 48.52%,
    19% 47.9%,
    20% 47.3%,
    21% 46.72%,
    22% 46.17%,
    23% 45.67%,
    24% 45.21%,
    25% 44.79%,
    26% 44.43%,
    27% 44.12%,
    28% 43.88%,
    29% 43.69%,
    30% 43.57%,
    31% 43.51%,
    32% 43.51%,
    33% 43.58%,
    34% 43.72%,
    35% 43.91%,
    36% 44.17%,
    37% 44.49%,
    38% 44.86%,
    39% 45.28%,
    40% 45.75%,
    41% 46.26%,
    42% 46.81%,
    43% 47.39%,
    44% 48%,
    45% 48.63%,
    46% 49.27%,
    47% 49.92%,
    48% 50.57%,
    49% 51.21%,
    50% 51.84%,
    51% 52.46%,
    52% 53.05%,
    53% 53.6%,
    54% 54.13%,
    55% 54.61%,
    56% 55.04%,
    57% 55.43%,
    58% 55.76%,
    59% 56.03%,
    60% 56.24%,
    61% 56.39%,
    62% 56.48%,
    63% 56.5%,
    64% 56.46%,
    65% 56.35%,
    66% 56.18%,
    67% 55.94%,
    68% 55.65%,
    69% 55.3%,
    70% 54.9%,
    71% 54.45%,
    72% 53.95%,
    73% 53.42%,
    74% 52.85%,
    75% 52.25%,
    76% 51.63%,
    77% 51%,
    78% 50.35%,
    79% 49.7%,
    80% 49.05%,
    81% 48.42%,
    82% 47.8%,
    83% 47.2%,
    84% 46.62%,
    85% 46.09%,
    86% 45.59%,
    87% 45.13%,
    88% 44.73%,
    89% 44.37%,
    90% 44.08%,
    91% 43.84%,
    92% 43.66%,
    93% 43.55%,
    94% 43.5%,
    95% 43.52%,
    96% 43.6%,
    97% 43.74%,
    98% 43.95%,
    99% 44.22%,
    100% 44.55%
  );
}

footer .contact {
  max-width: 350px;
  color: white;
}

footer .contact > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 27px;
  margin-bottom: 27px;
}

footer .contact div {
  display: flex;
  color: white;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.socials {
  margin-top: 80px;
  display: flex;
  gap: 27px;
}

.socials img {
  width: 32px;
}

.newsletter {
  max-width: 520px;
  color: white;
}

.newsletter h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
}

.newsletter p {
  max-width: 350px;

  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 40px;
}

.newsletter input {
  padding: 12px 41px;
  border: none;
  border-radius: 5px;
}

form {
  display: flex;
  gap: 40px;
}

form button {
  padding: 12px 41px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  background-color: var(--pink);
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

@media only screen and (max-width: 1250px) {
  .img-text {
    margin-right: 40px;
    margin-left: 40px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  footer .contact {
    margin-top: 500px;
  }

  .stats .stats-container {
    gap: 100px;
  }

  footer {
    clip-path: none;
    margin-top: 200px;
    padding-top: 100px;
  }

  footer .contact {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    margin: 40px 30px;
  }

  header {
    margin-top: 100px;
  }

  header p {
    margin-left: 30px;
    margin-right: 30px;
  }

  .stats .stats-container {
    flex-direction: column;
  }

  .img-text {
    flex-direction: column;
  }

  .img-text.flowing {
    flex-direction: column-reverse;
  }

  .pre-footer h3 {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
  }

  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  nav img {
    width: 100px;
  }
}
